@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #fff;
  color: #000;
}

input,
textarea,
select {
  font-family: inherit;
}

button {
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}
